
<h1>Stupid Coaching</h1>


<div class="layer1">
  <p> <%= @question %></p>
  <p> --You</p>
</div>
<div class="layer2">
  <p><%= @answer %></p>
  <p>--Your coach</p>
</div>

<div class="link">
  <p class="link_text">
  <%= link_to "Ask another question!", ask_path %>
  </p>
</div>
